@import '/src/styles/mixins';
@import '/src/styles/variables';

.projects-section {
    div {
        padding: 2em;
        width: 450px;
        height: 450px;
        background: $background-color;
        border-radius: 16px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid $border-color;
        transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
        box-shadow: none;
        
        &:hover {
            box-shadow: 0 4px 30px $box-shadow-color;
            transform: translate(0, -5px);
        }
    }
}