@import '/src/styles/mixins';
@import '/src/styles/variables';

.quote-section {
    position: relative;
    background-color: $secondary-color;
    min-height: 400px;

    .quote-container {
        position: absolute;
        top: -40%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 2em;
        background-color: $accent-color;
        column-gap: 4em;
        max-width: 75%;
        @include border-radius(1em);
        @include box-shadow(0px, 1px, 5px, 0, $black-color);
    
        img {
            display: block;
            $img-width: 400px;
            $img-height: 400px;
            width: $img-width;
            height: $img-height;
            @include border-radius-adjustable(1em, 0, 1em, 0);
            object-fit: cover;
            border: 1px solid black;
            filter: brightness(80%);
        }

        pre {
            white-space: normal;
            color: $white-color;
        }

        .author {
            color: $primary-color;
            font-size: 18px;
            text-decoration: underline;
            font-weight: 600;
            text-align: end;
        }
    }
}