@import '/src/styles/mixins';
@import '/src/styles/variables';

.hero-section {
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 4rem 8rem;
    color: $white-color;

    & > div:first-child {
        padding: 1.5rem;
    }

    h1 {
        span {
            display: block;
            
            span {
                display: inline;
                background: linear-gradient(90deg, rgb(74, 108, 243) 10%, rgba(0,212,255,1) 50%, rgba(255, 255, 255, 1) 90%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }

    pre {
        font-weight: 400;
        white-space: normal;
    }

    .links-container {
        margin-top: 1em;
        display: flex;
        column-gap: 1em;

        .github {
            color: $black-color;
            transition: color 500ms ease;
        }
        
        .github:hover {
            color: inherit;
        }

        .linkedin {
            transition: color 500ms ease;
            color: #0A66C2;
        }

        .linkedin:hover {
            color: inherit;
        }
    }

    .img-container {
        position: relative;

        img {
            $x-offset: 40px;
            $y-offset: 40px;
            $img-width: 500px;
            $img-height: 500px;
            width: $img-width;
            height: $img-height;
            @include border-radius-adjustable(5rem, 5rem, 5rem, 5rem);
            // @include box-shadow($x-offset, $y-offset, 120px, 0px, $black-color);
            object-fit: cover;
            position: relative;
            filter: brightness(90%);
        }

        &::before {
            content: '';
            width: 500px;
            height: 500px;
            @include border-radius-adjustable(5rem, 5rem, 5rem, 5rem);
            position: absolute;
            top: 30px;
            left: 30px;
            border: 2px solid $accent-color;
        }
    }
}