@import '/src/styles/mixins';
@import '/src/styles/variables';

.hero-section {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	padding-block: 4rem;

	.hero-cta {
		padding: 1rem;
		h1 {
			font-size: 90px;
			color: $white-color;
			.underscore {
				animation: blinking 1s ease 2s forwards infinite;

				@keyframes blinking {
					0% {
						opacity: 0;
					}
					50% {
						opacity: 1;
					}
					100% {
						opacity: 0;
					}
				}
			}
		}

		p {
			font-weight: 400;
			white-space: normal;
		}
	}

	.img-container {
		position: relative;
		$img-width: 600px;
		$img-height: 600px;

		img {
			width: $img-width;
			height: $img-height;
			object-fit: cover;
			position: relative;
			filter: brightness(85%);
			transition: filter 200ms ease;

			&:hover {
				filter: brightness(100%);
			}
		}

		&::before {
			content: '';
			width: $img-width;
			height: $img-height;
			position: absolute;
			top: 20px;
			left: 20px;
			border: 3px solid $accent-color;
		}

		&::after {
			content: '';
			width: $img-width;
			height: $img-height;
			position: absolute;
			z-index: -1;
			top: 35px;
			left: 40px;
			border: 3px solid $accent-color;
		}
	}
}
