@import '/src/styles/mixins';
@import '/src/styles/variables';

.footer {
	.footer-section {
		display: flex;
		justify-content: space-between;

		.socials {
			display: flex;
			column-gap: 2rem;
		}
	}
}
