@import '/src/styles/mixins';
@import '/src/styles/variables';

.lang-section {
    min-height: 500px;
    
    h2 {
        margin-bottom: 1rem;
    }
    
    .carousel {
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .c-item {
            @include flex-center;
            flex-direction: column;
            row-gap: 1rem;

            img {
                width: 75px;
                height: 75px;
            }

            p {
                font-weight: 700;
            }
        }

    }
}